body, html {
	font-family: 'Anonymous Pro', monospace;
	display: block;
	width: 90%;
	height: 100%;
	background: #000;
	color: #FFF;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.typewriter p {
	font-size: 1.5rem;
	overflow: hidden;
	border-right: .2em solid;
	white-space: nowrap;
	animation: 
	typeEffect 5s steps(50),
	cursorBlink .8s step-end infinite;
}

@keyframes typeEffect {
	from {width: 0;}
	to {width: 100%;}
}

@keyframes cursorBlink {
	from, to {border-color: transparent;}
	50% {border-color: green;}
}